.infoCards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	justify-content: center;
}

.card {
	position: relative;
	padding: 32px 40px 24px;
	color: #fff;
	transition: transform 0.3s ease;
	width: 100%;
	min-width: 280px;
	height: 240px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../../../shared/assets/images/bg-textura.png');
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.3;
		z-index: 1;
	}
	&:hover {
		transform: translateY(-5px);
	}
}

.corner {
	position: absolute;
	width: 16px;
	height: 16px;
}

.topLeft {
	top: 16px;
	left: 16px;
}

.topRight {
	top: 16px;
	right: 16px;
}

.bottomLeft {
	bottom: 16px;
	left: 16px;
}

.bottomRight {
	bottom: 16px;
	right: 16px;
}

.textWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	z-index: 12;
}

.buttonCard {
	background-color: inherit;
}

.blackButton {
	color: black;
	border: 2px solid black;
}
.whiteButton {
	color: white;
	border: 2px solid white;
}

.title {
	font-family: 'DrukCyr', sans-serif;
	font-size: 54px;
	letter-spacing: 1px;
}

.description {
	font-family: 'DrukWideCyr', sans-serif;
	font-size: 13px;
}
