.footerWrapper {
	position: relative;
	width: 100%;
	background-color: var(--color-primary);

	.footerContent {
		padding: 20px 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 20px;

		.contacts {
			display: flex;
			flex-direction: column;

			.phone {
				font-weight: bold;
				color: var(--color-secondary);
			}

			.city {
				font-size: 14px;
				font-style: italic;
				opacity: 0.8;
			}
		}
	}

	.center {
		display: flex;
		gap: 20px;

		svg {
			width: 32px;
			height: 32px;
			cursor: pointer;
		}
	}

	.right {
		text-align: right;
		font-size: 14px;
	}

	.upButton {
		background: inherit;
		color: var(--color-white);
		border: 2px solid var(--color-white);
		padding: 20px 52px;
		border-radius: 30px;
		cursor: pointer;
		span {
			font-family: 'DrukCyr', sans-serif;
			font-size: 22px;
		}
	}
}

@media (max-width: 800px) {
	.footerContent {
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;
	}

	.left {
		flex-direction: column;
	}

	.right {
		text-align: center;
	}
}
