.container {
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
}

.image {
	border-radius: 30px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.textContainer {
	display: flex;
	align-items: center;
	gap: 27px;
}

.title {
	position: relative;
	font-family: 'DrukWideCyr', sans-serif;
	font-size: 73px;
	font-weight: 500;
	color: var(--color-blue);
	text-transform: uppercase;
	z-index: 1;

	&::before {
		content: 'O JOKI JOYA';
		position: absolute;
		top: 8px;
		left: 8px;
		color: var(--color-secondary);
		z-index: -1;
	}
}

.highlight {
	color: var(--color-black);
}

.stars {
	display: inline-flex;
	gap: 19px;
}
