.container {
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
}

.image {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	object-fit: cover;
}

.textWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 40px;
}

.animatedLogoContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.animatedLogo {
	width: 144px;
	height: 144px;
}

.textContainer {
	position: relative;
	display: flex;
	align-items: center;
	gap: 27px;
}

.title {
	display: flex;
	gap: 15px;
	position: relative;
	font-family: 'DrukWideCyr', sans-serif;
	font-size: clamp(32px, 5vw, 73px);
	font-weight: 500;
	color: var(--color-blue);
	text-transform: uppercase;
	z-index: 1;
}

.highlight {
	color: var(--color-black);
}

.titleText {
	display: flex;
	gap: 15px;
	position: relative;
	white-space: nowrap;

	span:first-child {
		position: relative;
		color: var(--color-blue);
		z-index: 2;
	}

	span:last-child {
		position: absolute;
		top: 8px;
		left: 8px;
		color: transparent;
		-webkit-text-stroke: 3px var(--color-secondary);
		z-index: -1;
	}
}

.stars {
	display: inline-flex;
	gap: 19px;
}

@media (max-width: 1150px) {
	.textWrapper {
		align-items: center;
	}
}
@media (max-width: 800px) {
	.hideOnMobile {
		display: none;
	}

	.textWrapper {
		flex-direction: column;
		align-items: flex-start;
	}

	.textContainer {
		gap: 15px;
	}

	.star {
		width: 24px;
		height: 24px;
	}

	.animatedLogoContainer {
		justify-content: flex-start;
		margin-top: 40px;
	}
}
