.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-blue);
	color: var(--color-white);
	z-index: 399;
	padding: 40px 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.overlay.open {
	opacity: 1;
	visibility: visible;
}

.category {
	margin-bottom: 20px;
}

.categoryHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.toggleIcon {
	font-size: 20px;
	transition: transform 0.3s ease;
}

.submenu {
	list-style: none;
	padding-left: 20px;
	margin-top: 8px;

	li {
		padding: 6px 0;
		font-size: 16px;
	}
}
.rightPart {
	font-size: 50px;
	text-align: end;
	ul > li:hover {
		color: var(--color-pink);
	}
}

/* АДАПТИВ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ */
@media (max-width: 800px) {
	.overlay {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 20px;
	}

	.leftPart {
		width: 100%;
	}

	.rightPart {
		width: 100%;
		text-align: left;

		ul {
			display: none;
		}
	}

	.categoryHeader {
		font-size: 20px;
		font-weight: bold;
	}
}
